.jumbotron {
  margin: 10px;
  padding: 20px;
  border: solid red;
  background-color: #494949;
  color: white;
}


.sectionOne {
  background-color: red;
}

.sectionTwo{
  background-color: pink;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #494949;
}

.chat-container > div {
  width: 33.3333%
}

.hero-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://workshopcoyote.files.wordpress.com/2014/09/coyote_wallpaper_2.png");
  height: 1000px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

button {
  background-color: rgba(73,73,73,0.6);
  color: white;
  border: solid #3498db 1px;
  padding: 14px 40px;
  font-size: 20px;
  border-radius: 4px;
}

button:hover {
  background-color: #3498db;
}

.acme-section-one {
  display: flex;
  align-items: center;
  height: 350px;
  justify-content: center;
}

.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;

}

.links {
  float: left;
  border-right: solid #bdc3c7 1px;
}

.Link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Link:hover {
  background-color: #3498db;
}

.hero-title {
	margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: ##ecf0f1;
	opacity: 1;
	font: 700 80px 'Bitter';
}

.gMap {
  width:  400px;
  height: 400px;
}

.big-title {
  padding: 0;
  margin: 0;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #3498db;
	opacity: 1;
	font: 700 60px "Bitter";
}

.acme-map {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(57, 60, 70,1);
  margin: 0;
  padding: 50px;
  height: 500px;
}

.google-map {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images3.alphacoders.com/102/thumb-1920-1025.jpg");
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 50px;
  color: white;
}

.big-phone {
  padding-top: 20px;
  margin: 0;
  font-size: 50px;
}

.acme-info {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.card-summary {
  padding-left: 10px;
  overflow: scroll;
}


.customer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  space-around;
  padding: 0;
  margin: 0;
}

.card-img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-title {
  display: flex;
  background: rgba(44, 62, 80, 1);
  padding-left: 10px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  width: 100%;
}

.card {
  width: 25%;
  margin: 10px;
  text-decoration: none;
  color: #34495e;
  background: #ecf0f1;
  box-shadow: 10px 10px 5px #494949;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.customer-app {
  padding-top: 50px;
}

.playground-main {
  margin-top: 50px;
}

.index {
  margin-top: 50px;
}

.open-btn {
  background-color: red;
  border-radius: 20px;
  font-size: 24px;
}

.close-btn {
  background-color: green;
  border-radius: 20px;
  font-size: 24px;
}
